.superImg
{
    border-radius: 10px;
    box-shadow: 9px 9px 10px;
}

.superUpper
#details h2,h3{
    text-align: center;
    margin: auto;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.enterdetails{
    
    background-color: red;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-bottom: 20px;
    
}

.enterdetails #input{
    margin-left: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.enterdetails #submit{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: goldenrod;
}
input[type=text] {
    background-color: goldenrod;
    
}
/* #detailsJs{
    display: flex;
    flex-wrap: wrap;
} */
.superUpper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid grey;
    border-radius: 30px;
    box-shadow: 15px 15px 30px;
    padding: 5%;
}


body
{
    position: relative;
}
.radio
{
    position: absolute;
    display: inline-block;
    top:25vh;
    left:43vw;
}